:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.no-select {
  user-select: none;
  /* 现代浏览器 */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

/* 基础球体样式 */
.sphere {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  box-shadow: 0 0 50px transparent;
  animation: glow 2s ease-in-out infinite;
}

/* 红色球体 */
.sphere.red {
  background: radial-gradient(circle at 30% 30%,
      #fff 0%,
      #ff8a8a 10%,
      #ff0000 90%,
      #800000 100%);
}

/* 蓝色球体 */
.sphere.blue {
  background: radial-gradient(circle at 30% 30%,
      #fff 0%,
      #8ad3ff 10%,
      #0066ff 90%,
      #003380 100%);
}

/* 颜色变量定义 */
.sphere.red {
  --glow-color: rgba(255, 0, 0, 0.9);
}

.sphere.blue {
  --glow-color: rgba(0, 102, 255, 0.9);
}
